@page
@model ASP.NET_Core_.Pages.QuotesPageModel
@{
}
<body id="bcgr">
    <div id="about_quotes">
    <h1>Quotes</h1>
    </div>
     <form method="post"> 
        <div id="search">
            <input type="text" name="searchString" placeholder="Enter author of quote..."/>
        </div>
        <div id="btn">
            <button type="submit">Search</button> 
        </div>
        <div id="quot">
            <p>@Model.ResultQuote</p> <!--quote-->
            <p>@Model.ResultAuthor</p> <!--author-->
        </div>
    </form>
</body>
