@page
@model WhatIsCurrencyModel
@{    
    ViewData["Title"] = "What is Currency";

}
<h1>@ViewData["Title"]</h1>

<p>A currency is a unit of exchange, facilitating the transfer of goods and services. It is one form of money, where money is anything that serves as a medium of exchange, a store of value, and a standard of value. Historically, societies have developed currencies based on items considered valuable, such as shells, or cattle, to the use of precious metals first in forms such as ingots and later coins, and then to credit and paper money.</p>